@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["Breadcrumbs"] = new List<BreadcrumbItem> {
        new("Dashboard", Url.Action("Index", "Home")!),
        new("Privacy Policy", null)
    };
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
